<footer class="site-footer">
  <h2>Hello!</h2>
  <p>
    We're the <a href="https://www.emerging-technology.co.uk">IBM Emerging Technology</a> developers behind <a href="https://twitter.com/search?src=typd&q=%23whatmakesgreat">#WhatMakesGreat</a>, a project for <a href="http://www.wimbledon.com">Wimbledon 2017</a> to combine statistics, cognitive analytics and fan opinion to help understand what makes a great Wimbledon champion. As well as showing <a href="https://github.com/ibmets/discovery-service-with-personality-insights">code examples</a> we want to share some of how the project was put together and works. Let us know what you think and join in the debate - <a href="https://twitter.com/shawdm">Darren</a> and <a href="https://twitter.com/rosielickorish">Rosie</a>.
  </p>
</footer>
