/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * consistent box sizing
 */
html, body, div{
  box-sizing: border-box;
}


/**
 * Basic styling
 */
body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $black-color;
  background-color: $white-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6{
  text-align: center;
}

h1{
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: $heavy-font-weight;
  margin-bottom: 0.425rem;
}

h1 span.date{
  font-weight: $base-font-weight
}

h2{
  font-size: 1.25rem;
  font-weight: $heavy-font-weight;
  line-height: 1.25rem;
  margin-top: 0.825rem;
  margin-bottom: 0.425rem;
}

a{
  color: $black-color;
}


/**
 * Header styling
 */
header.site{
   padding-bottom: $spacing-unit-section;
   padding-top: $spacing-unit-section;
   text-align: center;
 }

 header.site h1{
   font-size: 5vmax;
   font-weight: $base-font-weight;
 }

header.site a, header.site a:visited, header.site a:hover{
  text-decoration: none;
  color: $black-color;
}


p{
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  padding-bottom: $base-line-height;
  line-height: $base-line-height
}



/**
 * Main content styling
 */
.page-content{

}

.page-content iframe{
  text-align: center;
}

article.post{
  width: 100%;
  max-width: $content-width;
  margin: auto;
  text-align: justify;
}


p.meta{
  text-align: right;
}

p.meta span{
  display: block;
}

/**
 * Contents styling
 */
.page-accent{
    background-color: $accent-color;
    color: $white-color;
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
}

nav.contents{
  width: 100%;
  max-width: $content-width;
  margin: auto;
  text-align: justify;
}

nav.contents ul{
  list-style-type:none;
}

nav.contents ul li a{
  color: $white-color;
  text-decoration: none;
}

nav.contents ul li p{
  font-style: italic;
}

nav.contents ul li span.post-title{
  font-weight: $heavy-font-weight;
  font-style: normal;
}



/**
 * Footer styling
 */
footer{
    width: 100%;
    max-width: $content-width;
    margin: auto;
    text-align: justify;
}



/**
 * Images and Embeds
 */
img {
  max-width: 100%;
}

p.embed{
  text-align: center;
}

p.embed iframe{
  width:100%;
  height: 480px;
  margin: 0;
  padding: 0;
  border: 0;
}

p.image{
  text-align: center;
}

p.image img{
  width:50%;
}

p.image-wide{
  width: 100%;
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}
